.hui {
	color:yellow;
	background-color:green;
	wigth:100px;
	heigth:100px;
}
td{

}
p {
	color:green;
}
body{
	background: url("fon.png");
	background-repeat:no-repeat;
	background-size:100%;
}
