.hui {
	color:yellow;
	background-color:green;
	wigth:10px;
	heigth:10px;
}
td{

}
p {
	color:green;
}
body{
	background: url("fon.png" );
	background-repeat:no-repeat;
	background-size:100%;
	background-wigth:100%
	background-heigth:100%
}
.chlen {
    background: linear-gradient(to left,#fffa00 50%,#fffa00 50%);
}

.sisi {
    width: 96%;
    margin: 0 auto;
    background-color: #414141;
    height: 100%;

}
