.hui {
	color:yellow;
	background-color:green;
	wigth:10px;
	heigth:10px;
}
td{

}
p {
	color:green;
}
body{
	background: url("fon.png" );
	background-repeat:no-repeat;
	background-size:100%;
	background-wigth:100%
	background-heigth:100%
}
